.curriculum-vitae {
    margin: 0 auto;
    width: 960px; 
    background-color: lightgrey;
    
    &--section {
        background-color: brown;
    }

    &--left-wraper{
        display:inline-block
      }
      
    &--right-wraper{
        display:inline-block
      }
}