@import "./../container/app-global";

.curriculum-vitae {
  margin: 0 auto;
  width: $curriculum-width;
  
  ul {
    list-style-type: none;
  }

  &--left-wraper {
    float: left;
  }

  &--right-wraper {
    float: right;
  }
}
