@import "./../container/app-global";

.education {
  width: $curriculum-right-section-width;
  border: 1px solid orange;

  &--title {
    font: $section-title-font;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;

    &-icon {
      @include icon-mixin(
        $size: 50px,
        $icon: $icon-education,
        $margin-top: -15px
      );
    }
  }

  &--date {
    @include date-mixin;
  }

  &--icon {
    &-school {
      @include icon-mixin($icon: $icon-school);
    }
    &-code {
      @include icon-mixin($icon: $icon-code);
    }
    &-psyche {
      @include icon-mixin($icon: $icon-psyche);
    }
  }
}
