@import "./../container/app-global";

.work-experience {
  width: $curriculum-right-section-width;
  border: 1px solid orange;

  &--title {
    font: $section-title-font;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;

    &-icon {
      @include icon-mixin($size: 50px, $icon: $icon-work, $margin-top: -10px);
    }
  }

  &--date {
    @include date-mixin;
  }

  &--icon {
    &-default {
      @include icon-mixin($icon: $icon-default);
    }
    &-code {
      @include icon-mixin($icon: $icon-code);
    }
    &-academic {
      @include icon-mixin($icon: $icon-academic);
    }
  }
}
